.textAbout {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  .textTitle {
    width: 508px;
    color: #171740;
    font-family: "Inter", sans-serif;
    font-size: 40px;
  }
  .desc {
    width: 508px;
    color: #242464;
    font-family: "Inter", sans-serif;
    font-size: 24px;
  }
}
