.container {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
  align-items: flex-start;
  .arizaTopshirish {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: flex-start;
    .stipendiya {
      p {
        color: #171740;
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 54px;
        .cursor {
          color: #171740;
          font-family: "Inter", sans-serif;
          font-weight: 100;
          font-size: 54px;
        }
      }
    }
    .description {
      width: 580px;
      color: #242464;
      font-family: "Inter", sans-serif;
      font-size: 20px;
    }
  }
}
