.scholarship {
  display: flex;
  flex-direction: column;
  row-gap: 56px;
  padding: 120px 0;
  align-items: center;
  .scholarshipTitle {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    justify-content: center;
    align-self: center;
    margin-bottom: 56px;
    h1 {
      text-align: center;
      color: #171740;
      font-family: "Inter", sans-serif;
      font-weight: 700;
      font-size: 40px;
    }
    p {
      width: 807px;
      text-align: center;
      color: #242464;
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .scholarshipItems {
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    row-gap: 30px;
    flex-wrap: wrap;
    padding: 0 75px;
  }
}
